[build]
  base = "web"
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_SITE_URL,NEXT_PUBLIC_VIDEO_APP_URL,NEXT_PUBLIC_SPARK_PRODUCT_ID,NEXT_PUBLIC_SPARK_PLUS_MONTHLY_ID,NEXT_PUBLIC_SPARK_PLUS_YEARLY_ID,NEXT_PUBLIC_ORBIT_MONTHLY_ID,NEXT_PUBLIC_ORBIT_YEARLY_ID,NEXT_PUBLIC_CONSTELLATION_MONTHLY_ID,NEXT_PUBLIC_CONSTELLATION_YEARLY_ID,NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY,NEXT_PUBLIC_SUPABASE_URL,NEXT_PUBLIC_SUPABASE_ANON_KEY,NEXT_PUBLIC_CAT_API"

